:root {
  color: rgb #ffffff73;
  color: rgba(255, 217, 0, 0.943);
  opacity: .68;

}

body {
  background-image: url(/public/images/pexels-miguel-Ã¡-padriÃ±Ã¡n-230515.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--color-white);
  text-align: center;
  opacity: var(--opacity);
}

.login-container {
  background-color: var(--color-white);
}